<launch>
  <arg name="config" default="$(optenv ROBOT_CONFIG empty)" />

  <param name="robot_description"
         command="$(find description)/scripts/env_run
                  $(find description)/urdf/configs/$(arg config)
                  $(find xacro)/xacro $(find description)/urdf/robot.urdf.xacro
                  --inorder " />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
</launch>
